@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC</h1>
    <p class="lead">Test application built with ASP.NET MVC 5 and .NET Framework 4.7.2</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This is a test ASP.NET MVC application that matches the same tech stack as IS.Web.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Technology Stack</h2>
        <p>.NET Framework 4.7.2, ASP.NET MVC 5, Bootstrap, jQuery</p>
    </div>
    <div class="col-md-4">
        <h2>Build & Deploy</h2>
        <p>Build with MSBuild, deploy to IIS as web application folder.</p>
    </div>
</div>